<div class="container">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h3>Demo App</h3>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="validatorForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" formControlName="name">
                          <span class="text-danger"
                              *ngIf="(validatorFormControl?.name?.touched || submitted) && validatorFormControl?.name?.errors?.required">
                              Name is required
                          </span>
                          <span class="text-danger"
                              *ngIf="(validatorFormControl?.name?.touched || submitted) && validatorFormControl?.name?.errors?.minlength">
                              Name must contain minimum 2 characters
                          </span>
                          <span class="text-danger"
                                *ngIf="validatorFormControl.name.touched && validatorFormControl.name.errors?.invalidUserName">
                                Bob can't be entered
                          </span>
                          
                      </div>
                      <div class="form-group">
                          <label>Email</label>
                          <input type="text" class="form-control" formControlName="email">
                          <span class="text-danger"
                              *ngIf="(validatorFormControl?.email?.touched || submitted) && validatorFormControl?.email?.errors?.required">
                              Email is required
                          </span>
                          <span class="text-danger"
                              *ngIf="validatorFormControl?.email?.touched && validatorFormControl?.email?.errors?.invalidEmail">
                              Enter a valid email address
                          </span>
                          <span class="text-danger"
                          *ngIf="(validatorFormControl?.email?.touched || submitted) && validatorFormControl.email.errors?.notValidEmail">
                            example.com can't be entered
                      </span>
                      </div>
                     
                      <div class="form-group mt-2">
                          <button type="submit" [disabled]="checkIsFormInValid()" class="btn btn-success">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>